html{
  /* background: linear-gradient(to bottom right, #3498db, #2980b9); */
  background-color:  #3498db;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  /* min-height: 100%; */
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
}
